table input {
  width: 10%;
  font: 500 1rem Inter;
  background: none;
  border: 2px solid #000;
  margin: 0 10px;
  padding: 2px 4px;
  outline: none;
}

table p {
  width: 10%;
  display: inline-block;
  font: 500 1rem Inter;
  margin: 0 10px;
  padding: 2px 4px;
}

.edit-btn {
  font: 500 1rem Inter;
  margin-left: 20px;
}